@media (max-width: 1350px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        /* gap: auto; */
    }
    .card img {
        height: max-content;
    }
}
@media (max-width: 800px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        /* gap: auto; */
    }
    .card img {
        height: max-content;
    }
}

@media (max-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        /* gap: auto; */
    }
    .card img {
        height: max-content;
    }

    .info {
        padding-top: 1rem;
    }

}